@import "variables";
@import "mixin";
@import "reset";

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: ($size+$gap)*7;
  & div {
    @include display__center;
    @include box_style;
  }

  & div:hover {
    transform: translate(-30px, -20px);
    margin-bottom: 0;
    background-color: #ffbfcb;
    cursor: pointer;
  }
  
  @for $i from 1 through 31 {
    & div:nth-child(#{$i})::after {
      content: "#{$i}";
    }
  }
  
  @for $i from 1 through 31 {
    &-#{$i}>div:nth-child(n+#{$i + 1}) {
      display: none;
    }
  }

  @each $day, $margin in $days-margin {
    &-#{$day}:first-child {
      div:first-child {
        margin-left: $margin;
      }
    }
  }
}
